################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Nelmix-BackEnd-Prueba/v17
/Nelmix/.vs/Nelmix/FileContentIndex/fd8452a1-d468-4e89-96aa-7ac27ad6642e.vsidx
/Nelmix/.vs/Nelmix/FileContentIndex/0ed80903-c1b3-4694-a1ec-3f25cb568e53.vsidx
