################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Nelmix-BackEnd-Prueba/v17
/Nelmix/.vs/Nelmix/FileContentIndex/fd8452a1-d468-4e89-96aa-7ac27ad6642e.vsidx
/Nelmix/.vs/Nelmix/FileContentIndex/0ed80903-c1b3-4694-a1ec-3f25cb568e53.vsidx
/.vs/Nelmix-BackEnd-Prueba/FileContentIndex/980fa122-c714-4cfd-bbe7-f79dc3c457c1.vsidx
/.vs/Nelmix-BackEnd-Prueba/FileContentIndex/d6392ffd-9abc-4454-8a27-592cf407cb2f.vsidx
/Nelmix/.vs/Nelmix/FileContentIndex/2826a67e-5eaf-458d-ac30-a15bcf154533.vsidx
/Nelmix/.vs/Nelmix/FileContentIndex/583873b9-21fe-4371-b932-5091ad4210e2.vsidx
/Nelmix/.vs/Nelmix/FileContentIndex/eb946c62-86cb-48ed-bfd6-fa504e13c344.vsidx
