################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Nelmix-BackEnd-Prueba/v17
/Nelmix/.vs/Nelmix/FileContentIndex/fd8452a1-d468-4e89-96aa-7ac27ad6642e.vsidx
